/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/storage/files
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_temp
.editorconfig
.gitattributes
.env
.env_geoplan
.env_prod
